<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.TodoMapper">
    <select id="getAll" resultType="Todo">
        SELECT * FROM todos
    </select>
    <insert id="insert" parameterType="Todo">
        INSERT INTO todos (todo) VALUES (#{todo})
    </insert>
    <delete id="delete" parameterType="int">
        DELETE FROM todos WHERE id = #{id}
    </delete>
    <update id="update" parameterType="Todo">
        UPDATE todos SET todo = #{todo} WHERE id = #{id}
    </update>
</mapper>
